.card{
  margin-top: 3em;
}

.container{
  display: flex;
  flex-grow: 1;

}

.mateIcon{
  width: 4em;
  height: 2em;
}

.mateIcon2{
  width: 4em;
  height: 2em;
}

.mateIcon3{
  width: 4em;
  height: 2em;
}


.mateText{
  margin-left: 3em;
  display: flex;
  flex-direction: column;
}

.sub{
  margin-top: 0.5em;
  font-size: xx-small;
}
