<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      MoveMate
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-card class="card">
    <ion-card-header>
      <ion-card-title class="ion-text-center"> <img id="logo" src="../../assets/movemate_logo.svg"/> <br> The hassle-free way to move anything </ion-card-title>
    </ion-card-header>

    <ion-card-content>
      We connect you with our moving partners on-demand. Click below to start booking.
    </ion-card-content>
  </ion-card>

  <ion-button expand="full" color="secondary" (click)="navigatetoLogIn()">Get started</ion-button>
</ion-content>
